<p>observable concept learning</p>
<button (click)="emitDataNew()">Get Data</button>
<!-- returning datas from observable as an array case -->
<!-- <div class="m-4" *ngFor="let val of data">
    {{val}}
</div> -->

<!-- returning  datas from observable as stream of data-->
 <div class="m-4" *ngFor="let val of dataValues">
    {{val}}
</div>

 <!--fromevent operator -->
<div>

</div>
<!-- for the below button we create a template variable createBtn and we set its value inside the viewchild which creates a reference
 to the button element with the template variable #createBtn and the address to the dom element button will be stored in the 
 createBtn viewchild variable -->

 <!-- fromevent accepts 2 parameters first parameter is the element on which the dom event has to be applied and the second parameter
  is the name of the event-->


<button #createBtn>Get Data</button>

