<!----------------------- custom structural directive-------------------- -->
<button (click)="displayContent()">Show Content</button>
<div class="container" *appIf="display">
  <p>Imp notice</p>
  <h6>This is a notice</h6>
</div>

<div class="container" *appIf="display">
  <p>Imp notice</p>
  <h6>This is a notice</h6>
</div>

<!----------------- ngswitch------------- -->

<div>
  <button (click)="changeTabContent('Home')">Home</button>
  <button (click)="changeTabContent('About')">About</button>
  <button (click)="changeTabContent('Research')">Research</button>
  <button (click)="changeTabContent('Facts')">Facts</button>
</div>
<div class="container" [ngSwitch]="tab">

  <div *ngSwitchDefault>
    <h3>Home</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem corporis distinctio nostrum libero quae iste temporibus nulla facilis nobis ipsam?</p>
  </div>

  <div *ngSwitchCase="'About'">
    <h3>About</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem corporis distinctio nostrum libero quae iste temporibus nulla facilis nobis ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta molestiae nisi voluptatibus id totam veniam quibusdam expedita assumenda, explicabo quos!</p>
  </div>

  <div *ngSwitchCase="'Research'">
    <h3>Research</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem corporis distinctio nostrum libero quae iste temporibus nulla facilis nobis ipsam?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo laudantium minima dolores officia numquam corrupti voluptas suscipit non assumenda perspiciatis consectetur aperiam similique rem in unde, dolorum quidem cupiditate expedita.</p>
  </div>

  <div *ngSwitchCase="'Facts'">
    <h3>Facts</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem corporis distinctio nostrum libero quae iste temporibus nulla facilis nobis ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, incidunt. Perspiciatis cum delectus sunt quae in ipsam sed, ratione, nobis praesentium perferendis debitis, non aliquid optio vero ut? Voluptates perferendis consectetur ea eveniet eum magni dolorem aliquam in quod aspernatur!</p>
  </div>

</div>
<!-- view encapsulation changes -->
<div>
  <button class="app-btn">app comp button</button>
  <app-comp1></app-comp1>
  <app-comp2></app-comp2>
</div>